*{
    margin: 0;
    padding: 0;
}

div.container{
    height: 100vh;
    width: 80vw;
    background-image: url(./meghan-hessler-Uc6_kr4_Baw-unsplash.jpg);
    background-size: contain;
    padding-top: 2%;
}

div.carousel-inner{
    border-radius: 3%;
}
div.card-text{
    color: #540b0e;
    background-color: ;
}